.navigation {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 18px 24px;
  top: 0;
  background-color: #ffffff; }
  .navigation__items {
    width: 100%;
    display: flex;
    justify-content: end; }
  .navigation .btn {
    border: none;
    background: none; }
  .navigation .sidebar__btn--toggle {
    display: flex;
    border: none;
    background: none; }
    @media (min-width: 768px) and (max-width: 1440px) {
      .navigation .sidebar__btn--toggle::after {
        display: flex;
        position: relative;
        align-self: center;
        margin: 0 20px;
        content: " ";
        height: 32px;
        width: 2px;
        background: #F8F8F8;
        border-radius: 1px; } }
  .navigation .btn-img {
    height: 40px;
    width: 40px; }
  @media (min-width: 1440.1px) {
    .navigation {
      display: none; } }

.items--contact {
  display: none; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .items--contact {
      margin-left: auto;
      display: flex;
      justify-content: space-around; }
      .items--contact button:first-child {
        margin-left: 0; }
      .items--contact button:last-child {
        margin-right: 20px; } }

.items--settings {
  display: flex; }
  .items--settings button:first-child {
    margin-left: 20px; }
  .items--settings button:last-child {
    margin-right: 16px; }
  .items--settings::before {
    position: relative;
    align-self: center;
    left: 0;
    content: " ";
    height: 32px;
    width: 2px;
    background: #F8F8F8;
    border-radius: 1px; }

@media (min-width: 1440px) {
  .content {
    position: absolute;
    left: 320px; } }

.main {
  border-top: 1px solid #D9FFF5; }

.heading {
  margin: 0;
  font-size: 28px;
  font-weight: 700; }
  .heading::before {
    position: absolute;
    left: 0;
    margin: -5px;
    content: " ";
    height: 40px;
    width: 4px;
    border-radius: 5px;
    border-right: 5px solid #41F6D7; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .heading {
      margin: 0;
      font-size: 28px;
      font-weight: 700; } }
  @media (min-width: 1440.1px) {
    .heading {
      padding: 0;
      margin: 0;
      font-size: 28px;
      font-weight: 700; } }

.main--heading {
  width: 100%;
  padding: 24px 15px 0 32px;
  display: flex; }

.settings {
  display: none; }
  @media (min-width: 1440.1px) {
    .settings {
      width: 50%;
      margin-left: auto;
      display: flex;
      justify-content: flex-end; } }
  .settings--img img {
    height: 40px;
    vertical-align: middle;
    margin: 0px 15px 0px 8px; }
  .settings--img button {
    padding: 0;
    border: none;
    background: none;
    font-size: 16px; }

.main--menu {
  display: flex;
  padding: 24px 16px;
  overflow-x: auto; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .main--menu {
      display: flex;
      padding: 24px;
      overflow-x: auto; } }
  @media (min-width: 1440.1px) {
    .main--menu {
      display: flex;
      padding: 24px 32px;
      overflow-x: auto; } }
  .main--menu::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .main--menu::after {
    position: absolute;
    right: 0;
    margin: 0;
    content: "";
    height: 50px;
    width: 40px;
    background: linear-gradient(270deg, #F8F8F8 30%, rgba(248, 248, 248, 0.0001) 100%); }
  .main--menu--btn {
    background-color: transparent;
    border: 0;
    padding: 10px 12px;
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap; }
  .main--menu--btn:hover {
    background-color: #ffffff;
    border: 2px solid #D9FFF5;
    border-radius: 6px;
    padding: 8px 10px; }

@media (min-width: 1440.1px) {
  .main--heading {
    width: 100%;
    padding: 24px 15px 0 32px;
    display: flex; } }

@media (min-width: 768px) and (max-width: 1440px) {
  .main--post {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1440.1px) {
  .main--post {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 50px 13px; } }

@media (min-width: 768px) and (max-width: 1440px) {
  .post--text {
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 0 24px 10px 24px;
    width: 50%; } }

@media (min-width: 1440.1px) {
  .post--text {
    font-weight: 400;
    letter-spacing: 0.2px;
    width: 47%; } }

.post--text p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  padding: 0 16px;
  white-space: pre-wrap;
  margin: 0;
  height: 90px;
  width: 100%;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .post--text p {
      height: 165px;
      line-height: 20px;
      padding: 5px 16px 0 0; } }
  @media (min-width: 1440.1px) {
    .post--text p {
      height: 170px;
      line-height: 20px;
      padding: 10px 16px 0; } }

.post--more {
  padding: 15px 0;
  font-size: 16px; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .post--more {
      padding-top: 15px; }
      .post--more img {
        padding-left: 9px; }
      .post--more span {
        padding-left: 16px;
        padding-top: 16px; } }

.post__btn--more {
  padding: 0 0 0 8px;
  border: none;
  background: none; }
  .post__btn--more span {
    padding-left: 25px;
    font-size: 16px;
    font-weight: 500; }
  .post__btn--more::before {
    content: url(./static/more.svg);
    position: relative;
    left: 10px; }
  @media (min-width: 1440.1px) {
    .post__btn--more {
      padding: 0 0 0 12px; } }

.post--img {
  padding: 16px 0; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .post--img {
      width: 50%;
      padding: 0 24px 10px 24px; } }
  @media (min-width: 1440.1px) {
    .post--img {
      width: 50%;
      padding: 0; } }
  .post--img img {
    width: 100%; }
    @media (min-width: 768px) and (max-width: 1440px) {
      .post--img img {
        border-radius: 6px; } }
    @media (min-width: 1440.1px) {
      .post--img img {
        border-radius: 6px; } }

@media (min-width: 768px) and (max-width: 1440px) {
  .swiper--container {
    height: 260px;
    overflow: hidden; } }

@media (min-width: 1440.1px) {
  .swiper--container {
    height: 260px;
    overflow: hidden; } }

@media (min-width: 768px) {
  .swiper-pagination {
    display: none; } }

.swiper {
  width: 100%;
  height: 234px;
  border-top: 1px solid #D9FFF5; }
  @media (min-width: 768px) {
    .swiper {
      height: 265px; } }
  .swiper-slide {
    width: auto; }
  .swiper--header {
    background: linear-gradient(90deg, #F8F8F8 0%, #ffffff 98.61%);
    padding: 18px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .swiper--header {
        padding: 18px 32px; } }
  .swiper-slide--btn {
    padding: 0;
    border: none;
    background: none; }
  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important; }
  .swiper-pagination-bullet-active {
    background-color: #B5B6BC !important; }
  .swiper-scrollbar {
    width: 0 !important;
    height: 0 !important; }

@media (min-width: 768px) {
  .swiper-wrapper {
    flex-wrap: wrap;
    height: auto; } }

.slide--card {
  width: 240px;
  border: 1px solid #F8F8F8;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin: 16px 0 16px 16px;
  padding: 20px 16px;
  background-color: #ffffff; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .slide--card {
      width: 224px;
      margin: 16px 0 0 32px; } }
  @media (min-width: 1440.1px) {
    .slide--card {
      width: 240px;
      margin: 16px 0 0 32px; } }

.btn--brand {
  height: 32px;
  margin: 4px 0; }

.btn--go {
  height: 40px; }

.swiper-slide--btn {
  padding: 0;
  border: none;
  background: none; }

.btn--show--hide {
  display: none; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .btn--show--hide {
      display: block;
      padding: 10px 0 10px 24px; }
      .btn--show--hide img {
        padding-left: 9px; }
      .btn--show--hide span {
        padding-left: 24px;
        padding-top: 16px; } }
  @media (min-width: 1440.1px) {
    .btn--show--hide {
      display: block;
      padding: 10px 0 24px 24px; }
      .btn--show--hide img {
        padding-left: 9px; }
      .btn--show--hide span {
        padding-left: 24px;
        padding-top: 16px; } }
  @media (min-width: 768px) and (max-width: 1440px) {
    .btn--show--hide::before {
      content: url(./static/more.svg);
      position: relative;
      left: 10px; } }
  @media (min-width: 1440.1px) {
    .btn--show--hide::before {
      content: url(./static/more.svg);
      position: relative;
      left: 10px; } }
  @media (min-width: 768px) and (max-width: 1440px) {
    .btn--show--hide.hide::before {
      display: inline-block;
      content: url(./static/more.svg);
      transform: rotate(180deg);
      position: relative;
      left: 10px;
      top: -4px; } }
  @media (min-width: 1440.1px) {
    .btn--show--hide.hide::before {
      display: inline-block;
      content: url(./static/more.svg);
      transform: rotate(180deg);
      position: relative;
      left: 10px;
      top: -4px; } }

.types .swiper {
  width: 100%;
  height: 300px; }
  @media (min-width: 768px) {
    .types .swiper {
      height: 420px; } }

.types .slide--card {
  height: 160px;
  font-size: 16px;
  font-weight: 500; }
  .types .slide--card img {
    position: relative;
    top: 80px; }

.services .swiper {
  width: 100%;
  height: 320px; }
  @media (min-width: 768px) {
    .services .swiper {
      height: auto;
      padding: 0 32px; } }
  @media (min-width: 768px) {
    .services .swiper--header {
      margin: 0 -32px; } }
  @media (min-width: 768px) {
    .services .swiper-slide {
      width: 100%; } }

.services .slide--card--header {
  display: none; }
  @media (min-width: 768px) {
    .services .slide--card--header {
      display: grid;
      grid-template-columns: 360px 100px 35%;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      height: auto;
      padding: 30px 16px 16px;
      margin: 0; }
      .services .slide--card--header p {
        font-size: 14px;
        width: 100%;
        text-align: left;
        margin: 0; }
        .services .slide--card--header p:nth-child(2) {
          text-align: center; } }

.services .slide--card {
  height: 200px;
  width: 260px;
  font-size: 14px;
  font-weight: 500;
  flex-direction: column;
  padding: 16px; }
  @media (min-width: 768px) {
    .services .slide--card {
      flex-direction: row;
      width: 100%;
      height: auto;
      padding: 23px 16px;
      margin: 0;
      display: grid;
      grid-template-columns: 360px auto 10% auto; } }
  .services .slide--card p {
    font-weight: 500;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-align: left; }
    .services .slide--card p:nth-child(2n + 1) {
      color: #7E7E82;
      font-weight: 400; }
      @media (min-width: 768px) {
        .services .slide--card p:nth-child(2n + 1) {
          display: none; } }
  .services .slide--card .btn--go {
    position: absolute;
    top: 170px;
    left: 145px;
    background-color: #FF3E79;
    border-radius: 16px;
    width: 119px;
    height: 32px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700; }
    @media (min-width: 768px) {
      .services .slide--card .btn--go {
        position: sticky;
        top: 15px;
        left: 150px;
        width: 150px; } }
    @media (min-width: 768px) {
      .services .slide--card .btn--go span {
        margin: 0 20px; } }
    .services .slide--card .btn--go img {
      height: 10px;
      width: 10px;
      margin: 0 10px; }
      @media (min-width: 768px) {
        .services .slide--card .btn--go img {
          display: none; } }
    .services .slide--card .btn--go:hover {
      cursor: pointer; }

.sidebar {
  display: none;
  position: fixed;
  width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  z-index: 10; }
  .sidebar.is-active {
    display: block;
    top: 0; }
  .sidebar.is-active .sidebar--background {
    position: absolute;
    top: 0;
    left: 320px;
    background-color: #ffffff;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), inset 16px 0px 52px rgba(14, 24, 80, 0.2); }
  .sidebar--header {
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly; }
  .sidebar--menu {
    padding-bottom: 90px; }
  .sidebar-footer {
    padding: 0 24px;
    position: absolute;
    bottom: 0; }
  @media (min-width: 1440px) {
    .sidebar {
      display: block; } }

@media (min-width: 1440px) {
  .sidebar__btn--toggle {
    display: none; } }

.nav--brand {
  margin-right: 52px; }

.btn > img {
  width: 40px;
  height: 40px; }

ul {
  margin: 0 0 0 -20px; }

li {
  list-style-type: none;
  padding: 16px 12px;
  font-size: 16px; }
  li:nth-child(2) {
    color: #7E7E82; }
    li:nth-child(2)::before {
      position: absolute;
      left: 0;
      margin: -5px;
      content: " ";
      height: 40px;
      width: 4px;
      border-radius: 5px;
      border-right: 5px solid #41F6D7; }

.sidebar--footer {
  padding: 0 24px;
  position: absolute;
  bottom: 0; }

.feedback {
  padding: 15px 0;
  display: flex;
  justify-content: flex-start; }
  .feedback button {
    padding-right: 16px; }

.contact--info {
  display: grid; }
  .contact--info a {
    text-decoration: none;
    color: #000000; }

.mail {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px; }

.tel {
  line-height: 32px;
  font-size: 24px;
  letter-spacing: -0.6px;
  font-weight: 700;
  padding: 16px 0; }

.language button {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  padding: 32px 7px 32px 0; }
  .language button:first-child {
    color: #7E7E82; }

.modal--mail {
  display: none;
  width: 320px;
  position: fixed;
  min-height: 100vh;
  background-color: #ffffff;
  z-index: 10;
  right: 0; }
  @media (min-width: 768px) {
    .modal--mail {
      width: 440px; } }
  .modal--mail.is-open {
    display: block;
    top: 0; }
  .modal--mail.is-open .modal--mail--background {
    position: absolute;
    top: 0;
    right: 320px;
    background-color: #ffffff;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), inset 16px 0px 52px rgba(14, 24, 80, 0.2); }
    @media (min-width: 768px) {
      .modal--mail.is-open .modal--mail--background {
        right: 440px; } }
  .modal--mail .btn--modal--mail--toggle {
    border: none;
    background: none;
    cursor: pointer;
    padding: 24px 0 0 16px; }
    .modal--mail .btn--modal--mail--toggle img {
      width: 40px;
      height: 40px; }
  @media (min-width: 768px) {
    .modal--mail button.btn--modal--mail--toggle {
      position: absolute;
      left: -80px;
      z-index: 11; } }
  .modal--mail .btn--submit {
    position: relative;
    left: 180px;
    background-color: #FF3E79;
    width: 119px;
    height: 32px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    border-radius: 16px;
    border: none;
    cursor: pointer; }
    @media (min-width: 768px) {
      .modal--mail .btn--submit {
        left: 290px;
        width: 136px; } }
    .modal--mail .btn--submit img {
      height: 10px;
      margin: auto 7px; }
  .modal--mail input#text {
    padding: 20px 16px 50px 16px; }
  .modal--mail .modal--mail--header {
    padding: 40px 32px 24px 32px;
    margin: 0;
    position: relative; }
    .modal--mail .modal--mail--header::before {
      position: absolute;
      left: 0px;
      content: " ";
      height: 40px;
      width: 4px;
      margin: -5px;
      border-radius: 5px;
      border-right: 5px solid #41f6d7; }
    .modal--mail .modal--mail--header span {
      font-weight: bold;
      font-size: 24px; }
  .modal--mail input {
    width: 280px;
    height: 48px;
    margin: 8px 16px;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #F8F8F8; }
    @media (min-width: 768px) {
      .modal--mail input {
        width: 376px; } }
  .modal--mail form p {
    padding: 8px 16px; }
    .modal--mail form p a {
      color: #FF3E79; }

.modal--tel {
  display: none;
  width: 320px;
  position: fixed;
  min-height: 100vh;
  background-color: #ffffff;
  z-index: 10;
  right: 0; }
  @media (min-width: 768px) {
    .modal--tel {
      width: 440px; } }
  .modal--tel.is-open {
    display: block;
    top: 0; }
  .modal--tel.is-open .modal--tel--background {
    position: absolute;
    top: 0;
    right: 320px;
    background-color: #ffffff;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), inset 16px 0px 52px rgba(14, 24, 80, 0.2); }
    @media (min-width: 768px) {
      .modal--tel.is-open .modal--tel--background {
        right: 440px; } }
  .modal--tel .btn--modal--tel--toggle {
    border: none;
    background: none;
    cursor: pointer;
    padding: 24px 0 0 16px; }
    .modal--tel .btn--modal--tel--toggle img {
      width: 40px;
      height: 40px; }
  @media (min-width: 768px) {
    .modal--tel button.btn--modal--tel--toggle {
      position: absolute;
      left: -80px;
      z-index: 11; } }
  .modal--tel .btn--submit {
    position: relative;
    left: 180px;
    background-color: #FF3E79;
    width: 119px;
    height: 32px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    border-radius: 16px;
    border: none;
    cursor: pointer; }
    @media (min-width: 768px) {
      .modal--tel .btn--submit {
        left: 290px;
        width: 136px; } }
    .modal--tel .btn--submit img {
      height: 10px;
      margin: auto 7px; }
  .modal--tel .modal--tel--header {
    padding: 40px 32px 24px 32px;
    margin: 0;
    position: relative; }
    .modal--tel .modal--tel--header::before {
      position: absolute;
      left: 0px;
      content: " ";
      height: 40px;
      width: 4px;
      margin: -5px;
      border-radius: 5px;
      border-right: 5px solid #41f6d7; }
    .modal--tel .modal--tel--header span {
      font-weight: bold;
      font-size: 24px; }
  .modal--tel input {
    width: 280px;
    height: 48px;
    margin: 8px 16px;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #F8F8F8; }
    @media (min-width: 768px) {
      .modal--tel input {
        width: 376px; } }
  .modal--tel form p {
    padding: 8px 16px; }
    .modal--tel form p a {
      color: #FF3E79; }

.extra--content {
  border-bottom: 1px solid #D9FFF5;
  padding: 0 16px 40px; }
  @media (min-width: 768px) {
    .extra--content {
      padding: 16px 32px 40px;
      width: 60%; } }
  .extra--content p {
    font-size: 14px; }
  .extra--content a {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    font-size: 16px; }

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 15px 24px; }
  @media (min-width: 768px) {
    footer {
      flex-direction: row; } }
  footer p {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #7E7E82;
    margin: 8px 0; }
    @media (min-width: 768px) {
      footer p:first-child {
        text-align: left; }
      footer p:last-child {
        text-align: right; } }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.woff2) format("woff2"), url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

* {
  font-family: "TT Lakes", sans-serif;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #F8F8F8;
  color: #000000; }

.btn {
  border: none;
  background: none; }

.btn :hover {
  cursor: pointer; }


/*# sourceMappingURL=style.css.map*/