$bgColor: #F8F8F8;
$text: #000000;
$textAccent: #7E7E82;
$accent: #D9FFF5;
$brightAccent: #41F6D7;
$colorAccent: #ffffff;
$colorBtn: #FF3E79;

@import 'header.scss';  
@import 'main.scss'; 
@import 'technic.scss'; 
@import 'sidebar.scss'; 
@import 'modal.scss'; 
@import 'footer.scss'; 

@font-face {
  font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.woff2") format("woff2"),
         url("../fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Medium.woff2") format("woff2"),
         url("../fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Bold.woff2") format("woff2"),
         url("../fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


* {
  font-family: "TT Lakes", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $bgColor;
  color: $text;
  
}

.btn {
  border: none;
  background: none;
}

.btn :hover{
  cursor: pointer;
}
